<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
	<h1>Sign up</h1>
	<form action="/productReg" method="post">
	<div>
	<label>상품명</label><input type="text" name="name">
	</div>
	<div>
	<label>가격</label><input type="text" name="price">
	</div>
	<div>
	<label>상품설명</label><input type="text" name="content">
	</div>
	<div>
	<label>이미지</label><input type="text" name="imageUrl">
	</div>
	<div>
	<label>카테고리</label><input type="text" name="category">
	</div>
	<button type="submit">전송</button>	
	</form>
	</div>
</body>
</html>