<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- 타임리프에서 제공하는 객체 사용하기 -->
	<!-- ${} : 변수 표현식 -->
	<!-- #strings : string은 문자객체. #은 객체표현식 -->
	<h3>문자열 객체</h3>
	<ul>
		<li>aBC에 a가 포함되었는지? [[ ${ #strings.contains('aBC','a') } ]]</li>
		<li>aBC가 b로 시작되었는지 : [[${#strings.startsWith('aBC', 'b')}]]</li>
		<li>aBC를 인덱스 2부터3전까지 자르기 : [[${#strings.substring('aBC', 2, 3)}]]</li>
		<li>aBC에서 a를b로바꾸기 : [[${#strings.replace('aBC', 'a', 'b')}]]</li>
		<li>aBC를 대문자로 변환 : [[${#strings.toUpperCase('aBC')}]]</li>
		<li>aBC를 소문자로 변환 : [[${#strings.toLowerCase('aBC')}]]</li>
	</ul>

	<!-- #number: number객체 표기 -->
	<h3>숫자객체</h3>
	<ul>
		<li>자리수만큼 0으로 채우기: [[ ${ #numbers.formatInteger(1, 5) } ]]</li>
		<li>패턴을 지정하여 출력 : [[${#numbers.formatInteger(100000,3,'POINT')}]]</li>
		<li>화폐단위로 출력 : [[${#numbers.formatCurrency(100)}]]</li>
		<!-- 인자: 0~1 사이의 숫자, 정수의 자리수, 소수의 자리수 -->
		<li>퍼센트단위로 출력 : [[${#numbers.formatPercent(0.2,2,0)}]]</li>
	</ul>

	<h3>날짜 객체</h3>
	<!-- 컨트롤러에서 전달받은 데이터 확인 -->
	<!-- temporals: 날짜를 가공하는 함수를 제공 -->
	<!-- # => 객체표기법 -->
	<ul>
		<li>현재 시간: [[ ${ date } ]]</li>
		<li>날짜를 특정패턴으로 출력: [[ ${#temporals.format(date,'yyyy/MM/dd' )}]]</li>		
		<li>시간을 특정패턴으로 출력: [[ ${#temporals.format(date,'hh시mm분ss초' )}]]</li>
		<li>시간만 출력: [[ ${#temporals.format(date,'hh시' )}]]</li>
		<!-- 날짜에서 특정값 추출하기 -->
		<!-- 연도, 월, 일을 각각 추출 -->
		<li>연도 : [[${#temporals.year(date)}]]</li>
		<li>월 : [[${#temporals.month(date)}]]</li>
		<li>일 : [[${#temporals.day(date)}]]</li>

	</ul>
</body>
</html>