<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.red {
		color: red;
	}
	
	table, tr, td {
		border: 1px solid black
	}
	
	table {
		border-collapse: collapse;
	}
</style>
</head>
<body>
	<table>
		<tr>
			<th>이름</th>
			<th>나이</th>
			<th>주소</th>
		</tr>
		<tr th:each="dto:${list}">
			<td>[[${dto.name}]]</td>
			<td th:class="${dto.age >= 30} ? red : '' ">[[${dto.age}]]</td>
			<td>[[${dto.address}]]</td>
		</tr>
	</table>
</body>
</html>