<!DOCTYPE html>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">
		<!-- 1.조각만들기 -->

		<h1>Member List Page</h1>
				
		<!-- 전체 페이지수와 현재 페이지 확인 -->
		
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>등록일</th>
				</tr>
			</thead>
			<!-- 실데이터 -->
			<tbody>
				<!-- 타임리프의 반복문을 사용하여 회원 리스트를 출력 -->
				<!-- 리스트의 크기만큼 tr 태그를 생성하고 회원을 출력 -->
				<tr th:each = " dto : ${list}">
					<th>
						<!-- 아이디를 클릭하면 상세화면으로 이동 -->
						<!-- 주소에 파라미터를 추가 -->
						<!-- 페이지번호를 파라미터로 추가 -->
						<!-- 예: /member/read?id=user1 -->
						<a th:href="@{/member/read( id=${dto.id}, page=${list.number+1} )}">
							[[${dto.id}]] 
						</a>
					</th>
					<td>[[ ${dto.name} ]]</td>
					<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
				</tr>
			</tbody>
		</table>

		<!-- 페이지 번호 목록 -->
		<ul class="pagination h-100 justify-content-center align-items-center">
			<li
				th:class=" 'page-item ' + ${(list.number + 1) == page?'active':''} "
				th:each="page: ${#numbers.sequence(1, list.totalPages)}"><a
				class="page-link" th:href="@{/member/list(page = ${page})}">
					[[${page}]] </a></li>
		</ul>

	</th:block>

</th:block>